.content {
    padding: 0 50px;

    .local-source-method-setting {
        display: grid;
        gap: 8px;
        max-width: 1100px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .local-source-method-setting-control {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .local-source-method-setting-description {
        max-width: 720px;
        color: rgb(0 0 0 / 65%);
    }
}
